/Score_producer/nbproject/private/
/Score_SyncConsumer/nbproject/private/
/Score_AsyncConsumer/nbproject/private/
/Score_AsyncConsumer/build/
/Score_AsyncConsumer/dist/
/Score_producer/dist/
/Score_producer/build/
/Score_SyncConsumer/dist/
/Score_SyncConsumer/build/
